
/*Mision Y Vision*/
body.misionvision-body {
    background-color: #f4f8fb;
  }
  
  .contenedor-mv {
    max-width: 1000px;
    margin: 60px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .bloque {
    background: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  
  .bloque h2 {
    font-size: 24px;
    color: #002B5B;
    margin-bottom: 15px;
  }
  
  .bloque p {
    font-size: 16px;
    color: #444;
    line-height: 1.6;
    text-align: justify;
  }