<!-- Footer -->
<footer class="footer mt-5">
  <div class="info text-center">
    <p><strong>Horario de atención a público:</strong><br>Lunes - Viernes 8:00 a 14:00</p>
    <p><strong>Dirección:</strong><br>Dirección escuela</p>
    <p><strong>Contacto:</strong><br>FONO ESTABLECIMIENTO<br>Correo: 
      direccion.valentinletelier@gmail.com</p>
  </div>

  <div class="redes-sociales text-center mt-3">
    <p>Síguenos en nuestras redes sociales</p>
    <div class="iconos d-flex justify-content-center gap-3">
      <a href="https://web.facebook.com/p/Escuela-B%C3%A1sica-Valent%C3%ADn-Letelier-Oficial-100085700991244/?locale=es_LA&_rdc=1&_rdr#" target="_blank">
        <img src="/img/facebook.png" alt="Facebook" height="30">
      </a>
      <a href="https://www.instagram.com/esc.valentinletelieroficial_/#" target="_blank">
        <img src="/img/instagram.png" alt="Instagram" height="30">
      </a>
      <a href="https://www.youtube.com/" target="_blank">
        <img src="/img/youtube.png" alt="YouTube" height="30">
      </a>
    </div>
  </div>

  <p class="text-center mt-4">&copy; Todos los derechos reservados - 2025</p>
</footer>
