<!-- NAVBAR -->

<div class="navbar-wrapper">
  <nav class="navbar">
    <div class="nav-container">
      <a href="/">
        <img src="/img/logo-valentin-letelier.png" alt="Logo Municipalidad" class="logo-nav" />
      </a>

      <ul class="menu-nav">
        <li><a href="/dashboard">INICIO</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">👥 Comunidad ▼</a>
          <ul class="dropdown-menu">
            <li><a href="/directivos">Directivos</a></li>
            <li><a href="/alumnos">Alumnos</a></li>
          </ul>
        </li>
        <li><a href="/nosotros">NOSOTROS</a></li>
        <li><a href="/noticias">NOTICIAS</a></li>
        <li><a href="/misionyvision">MISIÓN Y VISIÓN</a></li>
        <li><a href="/contenido">CONTENIDO</a></li>
        <li><a href="/sellos">SELLOS</a></li>
        <li><a href="/contacto">CONTACTO</a></li>
      </ul>
    </div>
  </nav>
</div>
